<%- include('partials/_header') %>

<div class="container">

  <ul class="list-group">
    <li class="list-group-item"><a class="link-underline-light link-dark" href="/documentos">Presentación Inicial</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">La denominación, la identificación y el domicilio de la entidad</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">La descripción de la actividad meritoria.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">El monto y el destino de la reinversión del beneficio o excedente neto.</li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">El monto y el destino de las asignaciones permanentes que se hayan realizado en el año y los plazos adicionales que estén autorizados por el máximo órgano social, cuando corresponda.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">Los nombres e identificación de las personas que ocupan cargos gerenciales, directivos o de control.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">El monto total de pagos salariales a los miembros de los cuerpos directivos (sin obligación de discriminar los pagos individuales).</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">Los nombres e identificación de los fundadores.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">El monto del patrimonio a 31 de diciembre del año inmediatamente anterior.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">En caso de recibir donaciones, la identificación del donante y el monto de la donación, así como la destinación de la misma y el plazo proyectado para el gasto o la inversión. Para tales efectos se entiende que la donación a una entidad del Régimen Tributario Especial es una autorización de publicar los datos que contiene el registro.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">Cuando las donaciones se perciban en eventos colectivos, sin que sea posible la identificación particular de los donantes, se deberá inscribir el monto total percibido, la fecha y la destinación del mismo.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">Un informe anual de resultados que prevea datos sobre sus proyectos en curso y los finalizados, los ingresos, los contratos realizados, subsidios y aportes recibidos así como las metas logradas en beneficio de la comunidad.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">Los estados financieros de la entidad.</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">El certificado del representante legal o revisor fiscal, junto con la declaración de renta donde se evidencie que han cumplido con todos los requisitos durante el respectivo año, cuando corresponda</a></li>
    <li class="list-group-item"><a class="link-underline-light link-dark" href="#">Los recursos de cooperación internacional no reembolsable que reciban o ejecuten.</a></li>
  </ul>

</div>



</body>
</html>